################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/.vs/Library/v16
/Library/src/Library.API/obj/Debug/netcoreapp2.0
/Library/src/Library.API/obj
/Library/src/Library.API/bin/Debug/netcoreapp2.0/Properties
/Library/src/Library.API/bin/Debug/netcoreapp2.0
/Library/.vs/Library/config
/Library/obj/Docker
/Library/obj/Debug
/Library/bin/Debug
/Library/.vs/Library/DesignTimeBuild
/Library/.vs/Library/v15
